@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
@import url(https://fonts.googleapis.com/css?family=Righteous);

*{
  font-family: 'raleway';
  font-weight: 500;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

body {
  --clr-primary:#ffffff;
  --clr-sec:#000000;
  color: var(--clr-primary);
}

canvas {
  background: #181818;
  display:block;
  position: fixed;
  z-index: -1;
}

/* Navigation Bar */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 2rem 3rem;
}

.menu-opt{
  display: flex;
  list-style: none;
  gap: 3rem;
  font-weight: 600;
}

nav h1{
  font-weight: 600;
}

nav ul a{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 100;
  cursor: pointer;
  color: var(--clr-primary);
}

.menu-opt li{
  transition-duration: 0.2s;
}

.menu-opt li:hover{
  font-size: 1.7rem;
  color: var(--clr-primary);
}

/* Head Section */

#main-head{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

#main-head-img{
  height: 15rem;
  width: 15rem;
}

#head-text-wrapper{
  padding: 1.5rem 0;
  margin-bottom:2rem ;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.05);
  width: 100%;
  gap: 20rem;
}

#head-text{
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

#hello-gifs{
  height: 2rem;
}

#container {
  margin: 6% auto;
  width: 100%;
  top: 0;
  bottom: 0;
  filter: url(#threshold) blur(0.3px);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-filter: url(#threshold) blur(0.3px);
}

#text1, #text2 {
  position: absolute;
  width: 100%;
  display: inline-block;
  font-size: 6.5rem;
  font-weight: 800;
  text-align: center;
  user-select: none;
}

#filters{
  height: 0;
}

/* About Me */
#about{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius:2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

#about-text{
  align-items: center;
  color:var(--clr-primary);
  width:70%;
  min-width: 40rem;
  background-color: rgba(31, 31, 33, 0.6);
  backdrop-filter: blur(4px) saturate(200%);
  border: 0.01rem solid rgba(40, 40, 42, 0.125);
  padding: 2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

#about-h1{
  font-size: 3.8rem;
  font-weight: 700;
  justify-content: center;
  margin: auto;
  padding-bottom: 1rem;
}

#about-me-icon-gifs{
  height:4rem;
}

#about-para{
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.7rem;
  padding: 1rem 0;
}

/* Skills */
#skills{
  margin: 0 5%;
  text-align: center;
  margin-bottom: 6rem;
}

#skill-h1{
  font-size: 3.8rem;
  font-weight: 700;
  margin-bottom: 6rem;
}

#skill-all{
  display: flex;
  gap:3rem;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  margin: auto 3rem;
}

#skills-gifs{
  height: 7rem;
}

.card{
  backdrop-filter: blur(2px) saturate(200%);
  -webkit-backdrop-filter: blur(16px) saturate(200%);
  background-color: rgba(38, 38, 40, 0.3);
  border-radius: 1rem;
  border: 0.01rem solid rgba(203,203,219, 0.125);
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition-duration: 0.3s;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.card:hover{
  background-color: rgba(31, 31, 33, 0.6);
  backdrop-filter: blur(4px) saturate(200%);
  border: 0.01rem solid rgba(40, 40, 42, 0.125);
  color: var(--clr-primary);
  cursor: pointer;
}

.skill{
  height: 5rem;
  transition:0.5s ease-in-out;
  padding: 1rem 2rem 1rem 2rem;
  -webkit-transition:0.5s ease-in-out;
  -moz-transition:0.5s ease-in-out;
  -ms-transition:0.5s ease-in-out;
  -o-transition:0.5s ease-in-out;
}

.image-caption{
  text-align: center;
  font-weight: 600;
  padding-bottom: 1rem;
}

/* Projects */
#projects{
  margin: 0 5%;
  text-align: center;
}

#project-h1{
  font-size: 3.8rem;
  font-weight: 700;
  margin-bottom: 6rem;
}

#project-inner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:4rem;
}

#project-list{
  width: 18rem;
  text-align: center;
  color:var(--clr-primary);   
  backdrop-filter: blur(2px) saturate(200%);
  -webkit-backdrop-filter: blur(16px) saturate(200%);
  background-color: rgba(48, 48, 51, 0.3);
  border-radius: 12px;
  border: 0.01rem solid rgba(203,203,219, 0.125);
  transition-duration: 0.2s;
}

#project-list:hover{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 15px -3px, rgba(0, 0, 0, 0.6) 0px 4px 6px -2px;
  transform: translateY(-0.8rem);
  -webkit-transform: translateY(-0.8rem);
  -moz-transform: translateY(-0.8rem);
  -ms-transform: translateY(-0.8rem);
  -o-transform: translateY(-0.8rem);
}

#project-list img{
  width:100%;
  height: 12rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

#to-link{
  padding: 0.5rem 0.5rem;
  height:1rem;
}

#to-link img{
  height:1rem;
  width:auto;
  float:right;
  padding: 0 0.4rem;
  border-radius:0 ;
}

#project-list h2{
  margin: 0.8rem 0;
}

#project-list p{
  padding:0.5rem 1rem 1rem 1rem;
}

/* Footer */
footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  padding: 20px 0 20px 0;
  border-top: aliceblue 2px solid;
  border-radius: 1rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  background-color: #181818;
}

#footer-parts{
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* margin: 2rem 0; */
}

#corner{
  display: flex;
  justify-content: center;
  align-items: center;
}

#rectangle {
  height: 200px;
  width: 320px;
  background-color: #555;
  display: flex;
}

#mini-rectangle{
  height: 200px;
  width: 20px;
  background-color: #65c9ff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

#semi{
  margin-left: -1.1rem;
  width: 180px;
  height: 200px;
  border-radius:0 50% 50% 0;
  background-color: #555;
  display: flex;
}

#semi img{
  height: 170px;
  justify-content: center;
  align-items: center;
}

#footer-part-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 0;
}

#footer-part-right h1{
  font-size:3.2rem ;
  letter-spacing: -2px;

}

footer h4{
  display: flex;
  margin: 0.5rem 0;
}


footer h1 a{
  color:var(--clr-primary);
  text-decoration: none;
  font-weight: 700;
}

#mini-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

#mini-rectangle2{
  height: 180px;
  width: 15px;
  background-color: #65c9ff;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  
}

.social {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.wrapper {
  display: flex;
  padding: .5rem 0rem;
}

.icon img{
  width: 25px;
  height: 25px;
}

.wrapper .icon {
  position: relative;
  background: aliceblue;
  color: rgb(0, 0, 15);
  border-radius: 50%;
  margin: 10px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: aliceblue;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: aliceblue;
  top: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: 60px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #0077b5;
  color: aliceblue;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333;
  color: aliceblue;
}

.wrapper .codechef:hover,
.wrapper .codechef:hover .tooltip,
.wrapper .codechef:hover .tooltip::before {
  background: #7d6e65;
  color: aliceblue;
}

.wrapper .Leetcode:hover,
.wrapper .Leetcode:hover .tooltip,
.wrapper .Leetcode:hover .tooltip::before {
  background: #7d5720;
  color: aliceblue;
}

.wrapper .hackerrank:hover,
.wrapper .hackerrank:hover .tooltip,
.wrapper .hackerrank:hover .tooltip::before {
  background: #1ba94c;
  color: black;
}

#star{
  z-index: 5;
  position: relative;
  background: none;
}


@media only screen and (max-width: 800px){
  .menu-opt{
    display: none;
  }
  nav{
    padding: 2rem 2rem;
  }

  #main-head{
    margin-top: 0%;
  }
  #head-text{
    margin-top: 0%;
    font-size: 1.3rem;
  }
  
  #text1, #text2{
    font-size: 12vw;
  }

  #about-h1, #skill-h1, #project-h1{
    font-size: 2rem;
  }

  #project-h1{
    margin: 3rem auto;
  }

  #about{
    margin-bottom: 2rem;
  }

  #about-text{
    min-width: 90%;
    width:90% ;
  }

  #about-para{
    font-size: 1rem;
  }

  #skill-all{
    gap:2rem;
    margin: auto 1rem;
  }
  
  .skill{
    height: 5rem;
    padding: 1rem 2rem 1rem 2rem;

  }

  #skill-h1{
    margin-bottom: 3rem;
  }

  .image-caption{
    font-weight: 500;
  }

  #skills-gifs {
    height: 4rem;
  }

  #corner{
    display: none;
  }

  #footer-parts{
    justify-content: center;
  }

  #footer-part-right h4{
    text-align: center;
    display: flex;
    justify-content: center;
  }
  #footer-part-right h1{
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
  }

  #footer-part-right{
    margin:20px;
  }

  #mini-rectangle2{
    display: none;
  }

  footer h1{
    font-size: 1px;
    animation: none;
    letter-spacing: normal;
  }
}
/*  */